main {
    text-align: center;
    background-color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  img {
    width: 100%;
  }
  
  h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size-adjust: initial;
    text-emphasis: none;
    font-style: italic;

  }
  #title {
    font-size: 72px;
  }
  
  h2 {
    font-family:'Times New Roman', Times, serif
  }
  
  h3 {
    font-family: 'Roboto', sans-serif;
  }
  
  .container {
    margin-top: 2%;
  }
  .running-total {
    font-family: 'Roboto', sans-serif;
  }
  
  .total-score {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
  }
  
  .player-one-rolls-one {
    font-size: 36px;
    font-family: 'Erica One', sans-serif;
    text-align: center;
    display: none;
  }
  .player-col {
    border: 10px solid red;
    border-radius: 6px;
    height: 450px;
    background: white;
  }
  
  .btn {
    height: 60px;
    width: 100px;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    color: #fff;
  }
  